.header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu .item{
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.searchCont{
  margin-left: 573px;
  margin-top: 20px;
}

.searchCont .searchBar{
  width: 320px;
}

.btn{
  color: white;
  background-color: rgb(38, 145, 216);
  border-radius: 5px;
}


